@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
body{
    background-color:black;
    color: rgba(255, 255, 255, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.share{
    height: 271px;
    width: 234px;
    /* border: 5px solid red; */
}
/* navbar styles starts here */
header{
    height: 715px;
    width: 100%;
    /* border: 10px solid red; */
    /* background-color: black; */
    background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 100%);
    padding-top: 16px;
    margin-bottom: 120px;
}
.navbar{
    height: 2.85rem;
    width:1060px;
    margin: 0 auto;
    /* border: 5px solid green; */
    display: flex;
    justify-content: space-between;
}
.nav-second-item{
    display: flex;
    gap: 2.85rem;
    margin-right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px;

}
.nav-first-item{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
}
.nav-second-item p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}
.span{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 9px;
    width: 52px;
    height: 22px;
}
/* navbar styles ends here */

/* banner styles starts here */
.banner{
    height: 36rem;
    width: 80%;
    margin: 0 auto;
    /* border: 5px solid green; */
    margin-top: 1.9rem;
}
.text-div h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 2rem;
}
.shape{
    font-family: "Playwrite CU", cursive;
    opacity: 0.9;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-div p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border:none;
    /* padding: 28px; */
    height: 54px;
    width: 224px;
    text-align: center;
    margin-top: 2rem;
}
.btn-secondary{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    background-color: black;
    height: 54px;
    width: 224px;
    border: 1px solid gray;
    border-radius: 42px; 
}
.image-div{
    height: 580px;
    width: 349px;
    /* border: 5px solid yellow; */
    background-image: url(/images/Images\ 2.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    position: relative;
}
.five-hundred{
    height: 98px;
    width: 193px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px 0px;
    position: absolute;
    right: -50px;
    top:0.9rem;
}
.three-hundred{
    height: 96px;
    width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    left: -7.7rem;
    top: 466px;;
}
.five-hundred h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1rem;
}
.five-hundred p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.three-hundred h1{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 1rem;
}
.three-hundred p{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;   
}
/* banner styles ends here */

/* main section styles starts here */
#main h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}
#main p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.habit-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
h4{
    font-family: Inter;
    text-align: center;
}
/* extra-run styles starts here */
.extra-run{
    height: 371px;
    width: 1060px;
    margin: 0 auto;
    /* border: 5px solid blue; */
    margin-bottom: 120px;
    background-color:rgb(34, 34, 34) ;
    margin-bottom: 160px;
    border-radius: 16px;
}
.run-image{
    height: 312px;
    width: 366px;
    /* border: 10px sollid red; */
    background-image: url(/images/run.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 25px;
}
.run-text h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.run-text h5{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.run-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.run-text button{
    height: 44px;
    width: 224px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top: 0.5rem;
}
/* extra-run styles ends here */

/* bmi calculator section starts here */
.bmi-calculator{
    height: 487px;
    width: 100%;
    background-color:rgb(34, 34, 34); 
    /* border: 4px solid yellow;   */
}
.table h2{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.bmi-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 5px solid red; */
    margin-top: 0px;
}
th,td{
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}
.form h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;   
}
.form input{
    height: 48px;
    width: 282.5px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 14px;
}
.form select{
    height: 48px;
    width: 282.5px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 14px;
    color: rgba(255, 255, 255, 0.296);   
}
.form button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 10px;
    margin-top: 10px;
}

/* bmi calculator section ends here */



/* main section styles ends here */







/* responsive design starts here */
/* styles for mobile devices */

@media screen and (max-width:576px) {
    header{
        height: 1323px;
        width: 1120px;
    }
    .nav-second-item{
        display: none;
    }
    .i{
        display: block;
    }
    .container{
        flex-direction: column;
    }
    .btn-secondary{
        margin-top: 23px;
    }
    .text-div h1{
        font-size: 3rem;
    }
    .three-hundred{
        left:0.1rem;
    }
    .image-div{
        width: 100%;
    }
    .three-hundred{
        left: 180px;
    }
    .five-hundred{
       right: 180px;
    }
    #main{
        width: 1120px;
    }
    .habit-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        margin-left: 250px;
    }
    .extra-run{
        margin-left:33px;
    }
    .bmi-calculator{
        margin: 0 auto;
    }
}